# APP SECRET KEY
SECRET_KEY=  # Secret Key

# DATABASE
SQLALCHEMY_DATABASE_URL= # example sqlite:///./eft_helper.db

# GOOGLE SOCIAL AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL= # example http://127.0.0.1:8000/api/v1/auth/google/callback

# GITHUB SOCIAL AUTH
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL= # example http://127.0.0.1:8000/api/v1/auth/github/callback
